* {
    box-sizing: border-box;
}

body {
    font: normal normal normal 100%/1.5 sans-serif;
    padding: 42px;
}

#editor {
    float: left;
    width: 50%;
    padding-right: 15px;
}

#json {
    float: left;
    width: 50%;
    padding-left: 15px;
}

#json textarea {
    font-size: 100%;
    width: 100%;
    height: 335px;
    padding: 10px;
    font-family: Monaco, monospace;
    overflow-x: scroll;
    white-space: pre;
    word-wrap: normal;
}