////////////////////////////////////////////////////////////////////////////////
//  Clearfix
////////////////////////////////////////////////////////////////////////////////

%clearfix {
  &:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }

  zoom: 1;
}

////////////////////////////////////////////////////////////////////////////////
//  Image replacement
////////////////////////////////////////////////////////////////////////////////

%img_replacement {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
